#breadboard {
  padding: 20px;
  background-color: #FFF;
  width: 310px;
  height: 430px;
}

.rightside {
  padding: 20px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}