a.navbar-brand {
  font-size: 24px;
}

.navbar {
  margin-bottom: 20px;
}

#breadboard {
  padding: 20px;
  background-color: #FFF;
  border-radius: 15px;
  width: 375px;
  height: 430px;
  margin-top: 40px;
}

.rightside {
  padding: 20px;
  background: #FFF;
  margin-top: 40px;
  border-radius: 15px;
}

#failedTests {
  color: red;
}

#graphviz {
  width: 500px;
  height: 300px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.btn {
  margin: 10px;
}